{
    "gf": {
        "build": "???",
        "date": "",
        "host": "http://106.14.51.73",
        "name": "China (CN) ",
        "order": 1,
        "version": "3.1.0"
    },
    "tw": {
        "build": "???",
        "date": "",
        "host": "http://asiaglobal1.bh3.com",
        "name": "Taiwan (TW)",
        "order": 2,
        "version": "3.1.1"
    },
    "jp": {
        "build": "???",
        "date": "",
        "host": "http://jp01.houkai3rd.com",
        "name": "Japan (JP) ",
        "order": 3,
        "version": "3.0.0"
    },
    "kr": {
        "build": "???",
        "date": "",
        "host": "http://global01.kr.honkaiimpact3.com",
        "name": "Korea (KR) ",
        "order": 4,
        "version": "3.0.0"
    },
    "os": {
        "build": "???",
        "date": "",
        "host": "http://overseas01.honkaiimpact3.com",
        "name": "Asia (SEA) ",
        "order": 5,
        "version": "3.0.0"
    },
    "global": {
        "build": "???",
        "date": "",
        "host": "http://eur01.global3rd.com:15000",
        "name": "Global ",
        "order": 6,
        "version": "3.0.0"
    }
}
